# Данный файл содержит алгоритм предобработки Global DataFrame - датафрейма, необходимого для построения модели

In [ ]:
import pandas as pd

In [4]:
df_items = pd.read_csv('https://raw.githubusercontent.com/AleksKids/hedonistic-demand-from-ebay/main/Data%20Tables/Global/Sales.tsv', delimiter = "\t")

In [5]:
df_items.dropna(subset=['Link'], inplace=True)
df_items.reset_index(inplace=True)
df_items.drop('index', axis=1, inplace = True)
df_items.isna().sum()

Title            0
Price            0
Shipping_cost    0
Sales_Count      0
Sales_Value      0
Link             0
dtype: int64

In [6]:
df_items

,Title,Price,Shipping_cost,Sales_Count,Sales_Value,Link
0,Apple iPhone 11 64GB Factory Unlocked 4G LTE S...,$337.59,$0.00,"19,787","$6,679,958.00",https://www.ebay.com/itm/254604777645?nordt=tr...
1,Apple iPhone XR 64GB Factory Unlocked Smartpho...,$266.28,$0.00,"12,440","$3,312,560.60",https://www.ebay.com/itm/254187678666?nordt=tr...
2,Apple iPhone 11 64GB Unlocked Smartphone - Ver...,$359.11,$16.93,"12,224","$4,389,742.37",https://www.ebay.com/itm/363183815277?nordt=tr...
3,Apple iPhone X 64GB Factory Unlocked Phone - V...,$231.98,$16.50,"11,781","$2,732,899.88",https://www.ebay.com/itm/382605209867?nordt=tr...
4,Apple iPhone X 256GB Unlocked Smartphone - Ver...,$263.59,$15.34,"10,020","$2,641,203.85",https://www.ebay.com/itm/382446518910?nordt=tr...
...,...,...,...,...,...,...
2919,Samsung Galaxy Note8 SM-N950U - 64GB (Unlocked...,$128.40,$0.00,37,"$4,750.91",https://www.ebay.com/itm/265635248944?nordt=tr...
2920,Brand New STALA509DCP TCL A3 32GB Storage 3GB ...,$43.13,$0.00,34,"$1,466.36",https://www.ebay.com/itm/265731617536?nordt=tr...
2921,Apple iPhone 12 Pro Max - 128GB - Fully Unlock...,$554.31,$0.00,37,"$20,509.63",https://www.ebay.com/itm/265936106963?nordt=tr...
2922,Apple iPhone 13 Mini 128GB - T-Mobile / Metro ...,$380.90,$0.00,33,"$12,569.67",https://www.ebay.com/itm/266138817726?nordt=tr...
2923,*NEW SEALED* Samsung Galaxy S5 Active G870A - ...,$99.74,$5.99,36,"$3,590.64",https://www.ebay.com/itm/284638798917?nordt=tr...

In [7]:
import re

def Sales_Value(value):
  pattern = r'\$|,'
  clean_value = re.sub(pattern, '', value)
  numeric_value = float(clean_value)
  return numeric_value


df_items.Price = df_items.Price.apply(lambda x: float(re.sub(r'[^\d.]', '', x)))
df_items.Shipping_cost = df_items.Shipping_cost.apply(lambda x: float(re.sub(r'[^\d.]', '', x)))
df_items.Sales_Count = df_items.Sales_Count.apply(lambda x: float(re.sub(",", "", x)))
df_items.Sales_Value = df_items.Sales_Value.apply(lambda x: Sales_Value(x))

In [8]:
df_items

,Title,Price,Shipping_cost,Sales_Count,Sales_Value,Link
0,Apple iPhone 11 64GB Factory Unlocked 4G LTE S...,337.59,0.00,19787.0,6679958.00,https://www.ebay.com/itm/254604777645?nordt=tr...
1,Apple iPhone XR 64GB Factory Unlocked Smartpho...,266.28,0.00,12440.0,3312560.60,https://www.ebay.com/itm/254187678666?nordt=tr...
2,Apple iPhone 11 64GB Unlocked Smartphone - Ver...,359.11,16.93,12224.0,4389742.37,https://www.ebay.com/itm/363183815277?nordt=tr...
3,Apple iPhone X 64GB Factory Unlocked Phone - V...,231.98,16.50,11781.0,2732899.88,https://www.ebay.com/itm/382605209867?nordt=tr...
4,Apple iPhone X 256GB Unlocked Smartphone - Ver...,263.59,15.34,10020.0,2641203.85,https://www.ebay.com/itm/382446518910?nordt=tr...
...,...,...,...,...,...,...
2919,Samsung Galaxy Note8 SM-N950U - 64GB (Unlocked...,128.40,0.00,37.0,4750.91,https://www.ebay.com/itm/265635248944?nordt=tr...
2920,Brand New STALA509DCP TCL A3 32GB Storage 3GB ...,43.13,0.00,34.0,1466.36,https://www.ebay.com/itm/265731617536?nordt=tr...
2921,Apple iPhone 12 Pro Max - 128GB - Fully Unlock...,554.31,0.00,37.0,20509.63,https://www.ebay.com/itm/265936106963?nordt=tr...
2922,Apple iPhone 13 Mini 128GB - T-Mobile / Metro ...,380.90,0.00,33.0,12569.67,https://www.ebay.com/itm/266138817726?nordt=tr...
2923,*NEW SEALED* Samsung Galaxy S5 Active G870A - ...,99.74,5.99,36.0,3590.64,https://www.ebay.com/itm/284638798917?nordt=tr...

In [9]:
brands_list = ['Apple', 'Samsung', 'Huawei', 'Xiaomi', 'Oppo', 'OnePlus', 'Google', 'Motorola', 'Sony', 'LG', 'HTC', 'Nokia', 'BlackBerry', 'Lenovo', 'Asus', 'ZTE', 'Alcatel', 'Vivo', 'Realme', 'Honor']
brands_regex = re.compile('('+ '|'.join(brands_list) + ')', flags=re.IGNORECASE)

df_items['brand'] = df_items['Title'].str.extract(brands_regex)
df_items['brand'] = df_items['brand'].apply(lambda x: x.lower() if type(x) == str else x)
df_items

,Title,Price,Shipping_cost,Sales_Count,Sales_Value,Link,brand
0,Apple iPhone 11 64GB Factory Unlocked 4G LTE S...,337.59,0.00,19787.0,6679958.00,https://www.ebay.com/itm/254604777645?nordt=tr...,apple
1,Apple iPhone XR 64GB Factory Unlocked Smartpho...,266.28,0.00,12440.0,3312560.60,https://www.ebay.com/itm/254187678666?nordt=tr...,apple
2,Apple iPhone 11 64GB Unlocked Smartphone - Ver...,359.11,16.93,12224.0,4389742.37,https://www.ebay.com/itm/363183815277?nordt=tr...,apple
3,Apple iPhone X 64GB Factory Unlocked Phone - V...,231.98,16.50,11781.0,2732899.88,https://www.ebay.com/itm/382605209867?nordt=tr...,apple
4,Apple iPhone X 256GB Unlocked Smartphone - Ver...,263.59,15.34,10020.0,2641203.85,https://www.ebay.com/itm/382446518910?nordt=tr...,apple
...,...,...,...,...,...,...,...
2919,Samsung Galaxy Note8 SM-N950U - 64GB (Unlocked...,128.40,0.00,37.0,4750.91,https://www.ebay.com/itm/265635248944?nordt=tr...,samsung
2920,Brand New STALA509DCP TCL A3 32GB Storage 3GB ...,43.13,0.00,34.0,1466.36,https://www.ebay.com/itm/265731617536?nordt=tr...,NaN
2921,Apple iPhone 12 Pro Max - 128GB - Fully Unlock...,554.31,0.00,37.0,20509.63,https://www.ebay.com/itm/265936106963?nordt=tr...,apple
2922,Apple iPhone 13 Mini 128GB - T-Mobile / Metro ...,380.90,0.00,33.0,12569.67,https://www.ebay.com/itm/266138817726?nordt=tr...,apple
2923,*NEW SEALED* Samsung Galaxy S5 Active G870A - ...,99.74,5.99,36.0,3590.64,https://www.ebay.com/itm/284638798917?nordt=tr...,samsung